$yellowHov: #FFDC87;
$yellow: #FFCE54;
$green: #16A085;
$greenLight: #1ABC9C;
$orange: #D35400;
$orangeLight: #E67E22;
$navy: #2C3E50;
$navyLight: #34495E;
$blue: #3BAFDA;
$blueLight: #4FC1E9;
$red: #E9573F;
$redLight: #FC6E51;
$pink: #D770AD;
$pinkLight: #EC87C0;
$dark: #434A54;
$white: #F5F7FA;
$btn: #8CC152;
$btnHov: #A0D468;
